#app{
    text-align: center;
    background-color: black;
}
/* .bigCounter{
    display: inline-block;
    text-align: center;
} */

.bigCounter div {
display: inline-block;
font-size: 80px;
line-height: 100px;
background-color: goldenrod;
color:whitesmoke;
padding: 40px;
margin: 15px;
border: 2px solid white;
border-radius: 10px ;
}